body{
    background-color: lightcoral;
    color: white;
}
#predict_lab
{
    background-color: white;
    font-size: 14px;
    padding: 6px;
    border-radius: 10px;
   
  
}
#heading{
    font-size: 30px;
    font-family: 'Sansita', sans-serif;
}
#btn_capture
{
    background-color: rgb(194, 20, 20);
}
#p1
{
    font-family: 'Oswald', sans-serif;
    
}
#p2
{
    font-family: 'Oswald', sans-serif;
}
#webcam_camera , #result_camera
{
  border: 2px dashed black;
  width: 350px;
  height: 250px; 
 
}